.icons {
  color: rgb(22, 224, 56);
}

.icons * {
  padding: 10px;
  cursor: pointer;
}

.readOnly {
  border: none;
  width: 90%;
  text-overflow: ellipsis;
}

.selected {
  background: hsl(242, 12%, 61%);
}

.selected input {
  background: hsl(242, 12%, 61%);
}

label {
  display: inline-block;
  width: 100%;
}
